body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  text-align: left; }
  body .page-body {
    padding: 2rem; }
    body .page-body #myTable {
      border-radius: 5px; }
      body .page-body #myTable {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1.1em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
        body .page-body #myTable thead tr {
          color: #ffffff;
          text-align: left; }
          body .page-body #myTable th, body .page-body #myTable td {
            padding: 12px 15px; }
            body .page-body #myTable tbody tr {
              border-bottom: 1px solid #dddddd; }
              body .page-body #myTable tbody tr:nth-of-type(even) {
                background-color: #f3f3f3; }
                body .page-body #myTable tbody tr.active-row {
                  font-weight: bold; }
  body > #container {
    text-align: left;
    margin: 0 auto;
    width: 500px; }
    body div.btn-group {
      width: 15rem;
      display: block;
      padding: 5px; }
      body div.btn-group a.button {
        display: inherit;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid gray;
        background: lightgray;
        color: black;
        padding: 10px;
        height: 25px; }
        body div.btn-group a.buttonalt {
          display: inherit;
          text-decoration: none;
          border-radius: 5px;
          border: 1px solid gray;
          background: white;
          color: black;
          padding: 10px;
          height: 25px; }
          body div.btn-group a.greybutton {
            display: inherit;
            text-decoration: none;
            border-radius: 5px;
            border: 1px solid gray;
            background: darkgray;
            padding: 10px;
            height: 25px;
            color: gray;
            cursor: not-allowed; }
  body header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey; }
    body header a {
      text-decoration: none; }
      body header li {
        list-style: none; }
        body header .brand {
          width: auto;
          height: 100%;
          float: left;
          margin: 0 0 0 5%; }
          body header .menu {
            width: 60%;
            height: 100%;
            float: right; }
            body header .menu ul {
              width: 100%;
              height: inherit;
              margin: 0;
              padding: 0;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex; }
              body header .menu ul a {
                width: 20%;
                height: inherit;
                color: #222;
                display: inline-block; }
                body header .menu ul a:hover {
                  background-color: #222;
                  color: #fff; }
                  body header #menuToggle {
                    display: none; }
                    body header .menu-icon {
                      display: none; }

footer {
  padding: 5px;
  border-top: 1px solid darkgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black; }
  footer .leftalign {
    float: left;
    padding-left: 10px;
    text-align: left; }
    footer .rightalign {
      float: right;
      padding-right: 10px;
      text-align: right; }
