<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% assets "scss_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
</head>

<body>
    <header>
        <figure class="brand">

            {% if current_user.is_authenticated %}
                        <div class="navbar-item">
                            Logged in as: &nbsp; <b> {{current_user.dict['username']}}</b>
                            {% if current_user.is_guest() %}
                            &nbsp; (guest)
                            {% endif %}
                        </div>
                        {% endif %}
        </figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
                <a href="{{ url_for('main.index') }}">
                    <li>Home</li>
                </a>

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('game.hostgame') }}">
                        <li>Play Game</li>
                    </a>
                    <a href="{{ url_for('game.joingame') }}">
                        <li>Join Game</li>
                    </a>
                    {% if not current_user.is_guest() %}
                        <a href="{{ url_for('auth.profile') }}">
                            <li>Profile</li>
                        </a>
                    {%endif%}

                    <a href="{{ url_for('auth.logout') }}">
                        <li>Logout</li>
                    </a>
                {%endif%}

                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}">
                    <li>Log in</li>
                </a>
                <a href="{{ url_for('auth.signup') }}">
                    <li>Sign up</li>
                </a>
                {%endif%}
          
            </ul>
        </nav>
    </header>

    <!-- <div class="base-head">

            

            <nav class="navbar">
                <div class="container">

                    <div class="navbar-brand">
                        {% if current_user.is_authenticated %}
                        <div class="navbar-item">
                            Logged in as: &nbsp; <b> {{current_user.dict['username']}}</b>
                            {% if current_user.is_guest() %}
                            &nbsp; (guest)
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a> 

                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.profile') }}" class="navbar-item">
                                Profile
                            </a> 
                            {% endif %}

                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>

                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}

                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>s
        </div> -->

    <div class="page-body">
        {% block content %} {% endblock %}
    </div>

<footer>
    Footer
</footer>

</body>

</html>