{% extends "base.html" %} {% block content %}

<h3 class="title">Host game</h3>
<div class="box">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    
    <form method="POST" action="/hostgame">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="username" name="roomname" placeholder="Room name" autofocus="" required>
            </div>
        </div>
        <div class="btn-group">
            <button class="button">Create Game</button>
        </div>
    </form>
</div>

{% endblock %}