{% extends "base.html" %} {% block content %}


{% if not current_user.is_authenticated %}

You must first log in to host and play games

<form action="{{ url_for('auth.login') }}"> 
    <button class="button is-block is-info is-fullwidth">
        Log In with account
    </button>
</form>

<form action="{{ url_for('auth.signup') }}"> 
    <button class="button is-block is-info is-fullwidth">
        Sign Up
    </button>
</form>

<form action="{{ url_for('auth.loginguest') }}"> 
    <button class="button is-block is-fullwidth">
        Continue as a guest
    </button>
</form>

{% endif %}

{% if current_user.is_authenticated %}

      <button class="button is-block is-info is-large is-fullwidth">
          Join game
        </button>

        {% if not current_user.is_guest() %}
        <button class="button is-block is-info is-large is-fullwidth">
            Host game
          </button>
          {% endif %}

          {% if current_user.is_guest() %}
            <button class="button is-block is-large is-fullwidth" style="color: grey;">
                Host game
              </button>
              {% endif %}
{% endif %}
{% endblock %}