{% extends "base.html" %} 

{% block title %}Index{% endblock %}
{% block content %}


    {% if not current_user.is_authenticated %}

    You must first log in to host and play games
    
    <form action="{{ url_for('auth.login') }}"> 
        <button class="button is-block is-info is-fullwidth">
            Log In with account
        </button>
    </form>

    <form action="{{ url_for('auth.signup') }}"> 
        <button class="button is-block is-info is-fullwidth">
            Sign Up
        </button>
    </form>

    <form action="{{ url_for('auth.loginguest') }}"> 
        <button class="button is-block is-fullwidth">
            Continue as a guest
        </button>
    </form>

    {% endif %}

    {% if current_user.is_authenticated %}

    <div class="btn-group">

                <a href="{{ url_for('game.joingame') }}" class="button">
                    Join game
                </a>
                <br>

                {% if not current_user.is_guest() %}
                <a href="{{ url_for('game.hostgame') }}" class="button">
                Host game
                </a>
                {% endif %}
                {% if current_user.is_guest() %}
                <a class="greybutton" title="You must login to host games">
                Host game
                </a>
                {% endif %}

    </div>

                
    {% endif %}
{% endblock %}