{% extends "base.html" %} 

{% block title %}Index{% endblock %}
{% block content %}


    {% if not current_user.is_authenticated %}
    <h1>You must first log in to host and play games</h1>

    <div class="btn-group">
    <a href="{{ url_for('auth.login') }}" class="button">
        Log In with account
    </a>
    <br>
    


    <a href="{{ url_for('auth.signup') }}" class="button">
        Sign Up
    </a>
    <br>
    


    <a href="{{ url_for('auth.loginguest') }}" class="buttonalt">
        Continue as a guest
    </a>
    
    </div>

    {% endif %}

    {% if current_user.is_authenticated %}

    <div class="btn-group">

                <a href="{{ url_for('game.joingame') }}" class="button">
                    Join game
                </a>
                <br>

                {% if not current_user.is_guest() %}
                <a href="{{ url_for('game.hostgame') }}" class="button">
                Host game
                </a>
                {% endif %}
                {% if current_user.is_guest() %}
                <a class="greybutton" title="You must login to host games">
                Host game
                </a>
                {% endif %}

    </div>

                
    {% endif %}
{% endblock %}