{% extends "base.html" %} 
{% block title %}Login{% endblock %}

{% block content %}
<h1 class="title">Join game</h1>
<div class="box">
    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %} 
    {% endwith %}

    <form method="POST" action="/joingame">
        <div class="form__group field">
            <input class="form__field" type="number" maxlength="4" name="gamecode" placeholder="Game Code" autofocus="f" required>
            <label for="name" class="form__label">Game Code</label>
        </div>
        <div class="btn-group">
            <a href="#" onclick="$(this).closest('form').submit()" class="button">Join Game</a>
        </div>
    </form>
</div>
{% endblock %}