{% extends "base.html" %} 

{% block title %}OnlineSuduko - {{gamecode}} - {{roomname}}{% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">

    var socket = io();
    socket.on("connect", function () {
        socket.emit("join", { "room": "{{gamecode}}" });
    })
    function startgame() {
        socket.emit("requestgamestart", { "room": "{{gamecode}}" });

    }

    function myFunction() {
        socket.emit("leave", { "room": "{{gamecode}}" });
        window.location.replace("{{ url_for('main.index') }}");
    }

    socket.on("startgame", function (jason) { 
        alert(jason)
    });

    socket.on("userupdate", function (jason) { 
        var j = 0;

        var table = document.getElementById("myTable");
        table.innerHTML = "";

        for (var prop in jason) {
            var row = table.insertRow(j);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);

            cell1.innerHTML = prop;

            var img = document.createElement("img");

            currentusername = String(prop);
            currentrole = String(jason[prop]);

            if (currentrole == 'admin') {
                img.src = "/static/userdefaulty.svg"
            }
            else {
                //for black icon img.src = "/static/userdefaultd.svg"
                img.src = "/static/userdefaultw.svg"
            }
            img.id = "picture"
            cell2.appendChild(img)

            j = j + 1
        }

    

    });
</script>




<h1>Lobby:&nbsp;<i>{{roomname}}</i></h1>

<h2> Code: {{gamecode}}</h2>

<div id="tablediv">
    <table id="myTable"></table>
</div>


<div class="btn-group">
    {% if admin%}

    <a href='javascript:;' onclick="startgame()" class="button">
       Start Game 
    </a>
    <br>
    {%endif%}

    <a href='javascript:;' onclick="myFunction()" class="button">
    Leave game
    </a>
</div>

{% endblock %}