{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}

<h1 id="loadingtext">Loading board...</h1>
<div class='tablediv' id="tablediv" style="display: none;">
    <table id="grid">
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
        <tr>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
            <td><span class="small-number"></span><span class="big-number"></span></td>
        </tr>
    </table>
</div>

<script>
    var selX = null;
    var selY = null;

    var completed = false;

    var filled = false;

    function cellClick(e) {
        console.log("Click", e.target.cellIndex, e.target.parentElement.rowIndex)

        selX = e.target.cellIndex;
        selY = e.target.parentElement.rowIndex;

        selectCell();
    }

    function sendSudoku() {
        if (completed == false) {
            console.log('sending sudoku');
            socket.emit("submitsudoku", {
                "room": "{{gamecode}}",
                "string": "284593167369471825157826493576948231892135674413267958721389546645712389938654712"
            });
        }
    }

    function selectCell() {
        $("#grid tr td").removeClass("cell-selected");
        if (selX !== null && selY !== null) {
            $("#grid tr td").eq(selY * 9 + selX).addClass("cell-selected");
        }
    }

    function writeCell(digit) {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                $("#grid tr td span.big-number").eq(selY * 9 + selX).text(digit.slice(0));
                sendSudoku();
            }
        }
    }

    function isEntered() {
        if (selX !== null && selY !== null) {
            if ($("#grid tr td span.big-number").eq(selY * 9 + selX).text()) {
                return true;
            }
        }
        return false;
    }

    function smallNumber(digit) {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                var target = $("#grid tr td span.small-number").eq(selY * 9 + selX)
                var t = target.text();
                if (t.includes(digit)) {
                    t = t.replace(digit, "")
                } else {
                    var o = "";
                    ['1', '2', '3', '4', '5', '6', '7', '8', '9'].forEach(element => {
                        if (t.includes(element) || element == digit) {
                            o = o.concat(element);
                        } else {
                            o = o.concat(" ");
                        }
                    });
                    t = o;
                }
                console.log(t);
                target.text(t);
                // $("#grid tr td span.small-number").eq(selY * 9 + selX).text(digit.slice(0));
            }
        }
    }

    function clearCell() {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                $("#grid tr td span.big-number").eq(selY * 9 + selX).text("");
                sendSudoku();
            }
        }
    }

    function clearNotes() {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                $("#grid tr td span.small-number").eq(selY * 9 + selX).text("");
            }
        }
    }

    function keyDown(e) {
        if (selX !== null && selY !== null) {
            if (!e.altKey) {
                // Normal movement
                if ((e.code == "KeyA" || e.code == "ArrowLeft") && selX > 0) {
                    selX -= 1;
                    e.preventDefault();
                } else if ((e.code == "KeyD" || e.code == "ArrowRight") && selX < 8) {
                    selX += 1;
                    e.preventDefault();
                } else if ((e.code == "KeyW" || e.code == "ArrowUp") && selY > 0) {
                    selY -= 1;
                    e.preventDefault();
                } else if ((e.code == "KeyS" || e.code == "ArrowDown") && selY < 8) {
                    selY += 1;
                    e.preventDefault();
                }
            } else {
                // Block movement
                if ((e.code == "KeyA" || e.code == "ArrowLeft")) {
                    if (selX >= 3) {
                        selX -= 3;
                    }
                    e.preventDefault();
                } else if ((e.code == "KeyD" || e.code == "ArrowRight")) {
                    if (selX <= 5) {
                        selX += 3;
                    }
                    e.preventDefault();
                } else if ((e.code == "KeyW" || e.code == "ArrowUp")) {
                    if (selY >= 3) {
                        selY -= 3;
                    }
                    e.preventDefault();
                } else if ((e.code == "KeyS" || e.code == "ArrowDown")) {
                    if (selY <= 5) {
                        selY += 3;
                    }
                    e.preventDefault();
                }
            }

            if ((e.code.startsWith("Digit") && e.code != "Digit0") || (e.code.startsWith("Numpad") && e.code != "Numpad0")) {
                if (!e.shiftKey) {
                    writeCell(e.code.slice(-1));
                } else {
                    smallNumber(e.code.slice(-1))
                }
            } else if (e.code == "Digit0" || e.code == "Numpad0" || e.code == "Backspace" || e.code == "Delete" || e.code == "Space") {
                if (isEntered()) {
                    clearCell();
                } else if (e.code == "Backspace") {
                    clearNotes();
                }
            }

        }

        if (e.code == "Escape") {
            selX = null;
            selY = null;
        }

        selectCell();
        console.log(e.code);
    }

    function fillSudoku(s) {
        for (i = 0; i < s.length; i++) {
            if (i < s.length && s[i] != "0") {
                $("#grid tr td span.big-number").eq(i).text(s[i]);
                $("#grid tr td").eq(i).addClass("immutable-cell");
            }
        }
        filled = true;
    }

    $("#grid tr td").on("click", cellClick);

    document.addEventListener("keydown", keyDown);

    //var sudokuString = "004000067300470005150820003006000031802105604410000900700080046600012000930000710"

    //fillSudoku(sudokuString);


    var socket = io();
    socket.on("connect", function() {
        socket.emit("requestsudoku", {
            "room": "{{gamecode}}"
        });
    });

    socket.on("completed", function(jason) {
        console.log(jason['time']);
        $('#tablediv').show();
        $('#loadingtext').show().text('Completed in ' + jason['time']);
        completed = true
        console.log('COMPLETED!!')
    });

    socket.on("sudokustr", function(jason) {
        console.log(jason['content']);
        $('#tablediv').show();
        $('#loadingtext').hide();
        fillSudoku(jason['content']);
        console.log('filled')
    });

    setTimeout(function() {
        if (!filled && completed == false) {
            var sudokuString = "004000067300470005150820003006000031802105604410000900700080046600012000930000710"
            $('#tablediv').show();
            $('#loadingtext').hide();
            fillSudoku(sudokuString);
            console.log('delayed fill')
        }
    }, 1000)
</script>

{% endblock %}