{% extends "base.html" %} {% block title %}Play{% endblock %} {% block content %}

<div id="leftside" style="width: 70%; height: 100px; float: left;">
    <h1 id="loadingtext">Loading...</h1>

    <div class='tablediv' id="tablediv" style="display: none;">
        <table id="grid">
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
            <tr>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
                <td><span class="small-number"></span><span class="big-number"></span></td>
            </tr>
        </table>
    </div>
</div>
<div id="rightside" style="margin-left: 70%; height: 100%;">
    <!-- TODO Add timer -->
    <h2 id="placetext" style="display: none;"></h2>
    <h3 id="completiontext" style="display: none;">
        </h2>

        <div id="tablediv">
            <table id="completiontable"></table>
        </div>

</div>

<script>
    var selX = null;
    var selY = null;


    var autoclear = false;
    var testmode = false;
    var completed = false;

    var filled = false;

    function cellClick(e) {
        console.log("Click", e.target.cellIndex, e.target.parentElement.rowIndex)

        selX = e.target.cellIndex;
        selY = e.target.parentElement.rowIndex;

        selectCell();
    }

    function sendAns() {
        socket.emit("submitsudoku", {
            "room": "{{gamecode}}",
            "complete":"",
            "string":""
        })
        
    }

    function sendSudoku() {
        if (completed == false && testmode == false) {
            console.log('sending sudoku');
            var userString = "";
            for (var y = 0; y < 9; y++) {
                for (var x = 0; x < 9; x++) {
                    if (isEntered(x, y)) {
                        userString += $("#grid tr td span.big-number").eq(y * 9 + x).text();
                        // userString += "1";
                    } else {
                        userString += "0";
                    }
                }
            }

            socket.emit("submitsudoku", {
                "room": "{{gamecode}}",
                "string": userString
            });
        }
    }

    function selectCell() {
        $("#grid tr td").removeClass("cell-selected");
        if (selX !== null && selY !== null) {
            $("#grid tr td").eq(selY * 9 + selX).addClass("cell-selected");
        }
    }

    function writeCell(digit) {
        if (completed == false) {
            if (selX !== null && selY !== null) {
                if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                    $("#grid tr td span.big-number").eq(selY * 9 + selX).text(digit.slice(0));
                    sendSudoku();

                    if (isEntered()) {
                        var l = connectedCells();
                        for (let i = 0; i < l.length; i++) {
                            const element = l[i];
                            removeSmallNumber(element, digit);
                            // console.log($("#grid tr td").eq(element));
                            // $("#grid tr td").eq(element).css("background-color", "lime");
                        }
                    }
                }
            }
        }
    }

    function isEntered(x = null, y = null) {
        if (x !== null && y !== null) {
            if ($("#grid tr td span.big-number").eq(y * 9 + x).text()) {
                return true;
            }
        }
        if (x === null && y === null) {
            if (selX !== null && selY !== null) {
                if ($("#grid tr td span.big-number").eq(selY * 9 + selX).text()) {
                    return true;
                }
            }
            return false;
        }
        return false;
    }

    function smallNumber(digit, remove = false) {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                var target = $("#grid tr td span.small-number").eq(selY * 9 + selX)
                var t = target.text();
                if (t.includes(digit) || remove) {
                    t = t.replace(digit, " ")
                } else {
                    var o = "";
                    ['1', '2', '3', '4', '5', '6', '7', '8', '9'].forEach(element => {
                        if (t.includes(element) || element == digit) {
                            o = o.concat(element);
                        } else {
                            o = o.concat(" ");
                        }
                    });
                    t = o;
                }
                target.text(t);
            }
        }
    }

    function removeSmallNumber(eqn, digit) {
        if (!$("#grid tr td").eq(eqn).hasClass("immutable-cell")) {
            var target = $("#grid tr td span.small-number").eq(eqn)
            var t = target.text();
            t = t.replace(digit, " ")
            target.text(t);
        }
    }

    function clearCell() {
        if (completed == false) {
            if (selX !== null && selY !== null) {
                if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                    $("#grid tr td span.big-number").eq(selY * 9 + selX).text("");
                    sendSudoku();
                }
            }
        }
    }

    function clearNotes() {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                $("#grid tr td span.small-number").eq(selY * 9 + selX).text("");
            }
        }
    }

    function visibleNotes(bool) {
        if (selX !== null && selY !== null) {
            if (!$("#grid tr td").eq(selY * 9 + selX).hasClass("immutable-cell")) {
                if (bool) {
                    $("#grid tr td span.small-number").eq(selY * 9 + selX).show();
                } else {
                    $("#grid tr td span.small-number").eq(selY * 9 + selX).hide();
                }
            }
        }
    }

    function connectedCells() {
        if (selX !== null && selY !== null) {
            var r = [];
            for (var x = 0; x < 9; x++) {
                r.push(selY * 9 + x);
                // $("#grid tr td").eq(selY * 9 + x).css("background-color", "lime");
            }
            for (var y = 0; y < 9; y++) {
                r.push(y * 9 + selX);
                // $("#grid tr td").eq(y * 9 + selX).css("background-color", "red");
            }

            for (var x = Math.floor(selX / 3) * 3; x < Math.floor(selX / 3) * 3 + 3; x++) {
                for (var y = Math.floor(selY / 3) * 3; y < Math.floor(selY / 3) * 3 + 3; y++) {
                    r.push(y * 9 + x);
                    // $("#grid tr td").eq(y * 9 + x).css("background-color", "teal");
                }
            }
            // $("#grid tr td").eq(selY * 9 + selX).css("background-color", "yellow");

            var out = [];
            r.forEach(element => {
                if (!out.includes(element)) {
                    out.push(element);
                }
            });
            return out;
        }

    }

    function keyDown(e) {
        if (e.code == 'Backspace') {
            e.preventDefault()
        }
        if (selX !== null && selY !== null) {
            if (!e.altKey) {
                // Normal movement
                if ((e.code == "KeyA" || e.code == "ArrowLeft") && selX > 0) {
                    selX -= 1;
                    e.preventDefault();
                } else if ((e.code == "KeyD" || e.code == "ArrowRight") && selX < 8) {
                    selX += 1;
                    e.preventDefault();
                } else if ((e.code == "KeyW" || e.code == "ArrowUp") && selY > 0) {
                    selY -= 1;
                    e.preventDefault();
                } else if ((e.code == "KeyS" || e.code == "ArrowDown") && selY < 8) {
                    selY += 1;
                    e.preventDefault();
                }
            } else {
                // Block movement
                if ((e.code == "KeyA" || e.code == "ArrowLeft")) {
                    if (selX >= 3) {
                        selX -= 3;
                    }
                    e.preventDefault();
                } else if ((e.code == "KeyD" || e.code == "ArrowRight")) {
                    if (selX <= 5) {
                        selX += 3;
                    }
                    e.preventDefault();
                } else if ((e.code == "KeyW" || e.code == "ArrowUp")) {
                    if (selY >= 3) {
                        selY -= 3;
                    }
                    e.preventDefault();
                } else if ((e.code == "KeyS" || e.code == "ArrowDown")) {
                    if (selY <= 5) {
                        selY += 3;
                    }
                    e.preventDefault();
                }
            }

            if ((e.code.startsWith("Digit") && e.code != "Digit0") || (e.code.startsWith("Numpad") && e.code != "Numpad0")) {
                if (!e.shiftKey) {
                    writeCell(e.code.slice(-1));
                    visibleNotes(false);
                } else {
                    smallNumber(e.code.slice(-1))
                }
            } else if (e.code == "Digit0" || e.code == "Numpad0" || e.code == "Backspace" || e.code == "Delete" || e.code == "Space") {
                if (isEntered()) {
                    clearCell();
                    visibleNotes(true);
                } else if (e.code == "Backspace") {
                    clearNotes();
                }
            }

        }

        if (e.code == "Escape") {
            selX = null;
            selY = null;
        }

        selectCell();
        console.log(e.code);
    }

    function fillSudoku(s) {
        for (i = 0; i < s.length; i++) {
            if (i < s.length && s[i] != "0") {
                $("#grid tr td span.big-number").eq(i).text(s[i]);
                $("#grid tr td").eq(i).addClass("immutable-cell");
            }
        }
        filled = true;
    }

    $("#grid tr td").on("click", cellClick);

    document.addEventListener("keydown", keyDown);

    //var sudokuString = "004000067300470005150820003006000031802105604410000900700080046600012000930000710"

    //fillSudoku(sudokuString);


    var socket = io();

    socket.on("connect", function() {
        socket.emit("requestsudoku", {
            "room": "{{gamecode}}"
        });
    });

    socket.on("message", function(myjson) {
        console.log(myjson)
    });

    socket.on("completed", function(jason) {
        console.log(jason['time']);
        $('#tablediv').show();
        $('#loadingtext').hide();
        $('#completiontext').show().text(jason['time']);
        $('#placetext').show().text(jason['place']);

        completed = true
    });

    socket.on("sudokustr", function(jason) {
        console.log('autocomplete = ' + jason['autoclear']);
        $('#tablediv').show();
        $('#loadingtext').hide();
        fillSudoku(jason['sudoku']);
        autoclear = jason['autoclear']
    });

    socket.on("tableupdate", function(jason) {
        console.log('tableupdate')

        empty = jason['empty']


        var j = 0;

        var table = document.getElementById("completiontable");
        table.innerHTML = "";

        for (var name in jason['players']) {
            var row = table.insertRow(j);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);


            cell1.innerHTML = name;

            var d;

            if (jason['players'][name]['completed'] == 'false') {
                d = jason['players'][name]['filledlen'] + '/' + empty;

            } else {
                cell0.innerHTML = jason['players'][name]['place']
                d = jason['players'][name]['completed'];
            }

            cell2.innerHTML = `<span>${d}</span><div class="player-completion" data-completion-width="${d}"></div>`;



            //var img = document.createElement("img");


            j = j + 1

        }
    });

    setTimeout(function() {
        if (!filled && completed == false) {
            var testmode = true;
            var sudokuString = "004000067300470005150820003006000031802105604410000900700080046600012000930000710"
            $('#tablediv').show();
            $('#loadingtext').hide();
            fillSudoku(sudokuString);
            console.log('delayed fill')
        }
    }, 1000)
</script>

{% endblock %}